@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@0;1&display=swap')    

@import frappe

html
    border: 1em solid $mauve
    min-height: fit-content
    overflow-wrap: break-word

body
    background-color: $base
    color: $mauve
    font-family: 'Chivo Mono', monospace
    font-size:18px
    line-height: 1.5

section, figure
    max-width: 600px
    margin: 3em auto

img
    width: 100%
    text-align: center

blockquote
    width: 60%
    margin: 3em auto
    font-size:2em

cite, figcaption
    display: block
    margin:1.5em 0
    color: $lavender
    font-size: .7em    

a
    color: inherit
    border-bottom: .2em solid $peach
    text-decoration: none

    &:hover
        border-bottom: .2em solid $green

.hero
    font-size: 1.5em