body {
    background-color:#eff1f5;
    color:#4c4f69;
    font-family: 'Latin Modern Mono', 'Courier New', Courier, monospace;
    font-style:italic;
    font-size:24px;
    padding:4%;
}

a:link, a:visited, a:active {
    color:#e64553;
}

blockquote {
    font-size:.8em;
    color:#5c5f77;
    width:80%;
    margin:auto;
}

strong {
    color:#209fb5;
}

h1 {
    color:#7287fd;
}

h2 {
    color:#ea76cb;
    text-transform:uppercase;
}

h3 {
    color:#04a5e5;
}

img {
    display:block;
    margin:auto;
}

ol, li, blockquote {
    text-align:justify;
    margin:.75em auto;
}