body {
    background-color:#ca9ee6;
    color:#4c4f69;
    font-family: 'Hanken Grotesk', 'Helvetica', sans-serif;
    font-size:16px;
    line-height:1.5;
    text-align:left;
}

div {
    border:.01em solid #4c4f69;
    border-radius:1.5em;
    background-color:#e6e9ef;
    padding:2% 4%;
    margin:6%;
    width:30%;
    box-shadow:.5em .5em #4c4f69;
    display:inline-flexbox;
}

#intro {
    float:left;
    text-align:center;
}

#calc {
    float:right;
}

#patt {
    float:left;
}

button {
    display:block;
    margin:1em auto;
    padding:2%;
    font-family: 'Press Start 2P', cursive;
    text-transform:uppercase;
    font-size:.6em;
}

button:hover {
    background-color:#e5c890;
}

a:link, a:visited, a:active {
    color:#dd7878;
}

h1 {
    color:#ea76cb;
    font-weight:normal;
    font-family: 'Press Start 2P', cursive;
    font-size:1.25em;
    margin:2em auto 1em;
    text-align:center;
    text-transform:lowercase;
}

h2 {
    color:#209fb5;
    font-weight:normal;
    font-family: 'Press Start 2P', cursive;
    font-size:.75em;
    margin:1em auto;
    text-transform:uppercase;
}

img {
    display:block;
    margin:auto;
}

strong {
    font-weight:bold;
    color:#7287fd;
}

em {
    color:#40a02b;
}

ul, ol {
    text-align:justify;
    margin:1.5em auto;
}

li {
    margin:.5em 0 .5em -1em;
    padding-left:.25em;
}

#top-down-raglan {
    text-align:justify;
}