@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,700;1,300;1,700&display=swap');

body {
    font-family:'Hanken Grotesk', sans-serif;
    background-color:floralwhite;
    color:darkslateblue;
    font-size:20px;
    line-height:1.4;
    text-align:left;
}

a:link, a:active, a:visited {
    color:inherit;
    border-bottom:.2em solid lightskyblue;
    text-decoration:none;
}

a:hover {
    border-bottom:.2em solid mediumseagreen;
}

sup {
    font-size:.5em;
    text-transform:uppercase;
}

section {
    margin:6em auto;
    width:40%;
}

ul, ol {
    text-align:justify;
}

p {
    text-align:left;
}

p.big-boy {
    font-size:1.5em;
}

h1, h2 {
    font-weight:normal;
    margin:1em auto 0;
}

img {
    text-align:center;
}

figure {
    margin:3em auto;
}

figcaption {
    font-size:.7em;
    text-align:left;
}

strong {
    color:mediumorchid;
}

blockquote {
    font-size:1.1em;
    border:1px solid darkslateblue;
    padding:3em;
    margin:2em 0;
}

table {
    margin:1em auto;
    width:60%;
    border:1px solid darkslateblue;
    padding:1.5em;
    text-align:center;
}

td {
    width:50%;
}